

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* GLOBAL STYLES
--------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.text-logo {
    font-size: 15px;
    margin: -10px 0px 0px 20px;
    color: #8e8686;
  }
  
  /* Second Menu right */
  #cssmenu ul {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 999999990;
  }
  
  #cssmenu li {
    display: inline-block;
    position: relative;
    font-size: 0;
    margin: 0;
    padding: 0;
  }
  
  /*Second Menu right
  ---------------------------------------*/
  
  #cssmenu > ul > li > span,
  #cssmenu > ul > li > a {
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    position: relative;
    transition: all 0.3s;
  }
  #cssmenu li:hover > span,
  #cssmenu li:hover:not(.search) > a {
    color: tomato;
  }
  
  /*Sub level items
  ---------------------------------------*/
  #cssmenu .dropdown {
    text-align: left;
    left: 0;
    color: #333333;
    background-color: #f3f3f3;
    border: none;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: none;
    opacity: 0;
  }
  
  #cssmenu .dropdown li {
    display: block;
  }
  
  #cssmenu .dropdown li > span,
  #cssmenu .dropdown li > a,
  #cssmenu .clm a,
  #cssmenu .clm h3 {
    font-size: 16px;
    margin-top: 0px;
    padding: 14px 30px;
    display: block;
    color: inherit;
    text-decoration: none;
  }
  #cssmenu .clm h3 {
    font-size: 20px;
    font-weight: 700;
  }
  #cssmenu .sub-item {
    background-color: #f3f3f3;
    position: relative;
    transition: all 0.3s;
  }
  
  #cssmenu .dropdown li:hover > span,
  #cssmenu .dropdown li:hover > a {
    color: white;
    background-color: tomato;
  }
  
  #cssmenu .clm a:hover {
    color: #333333;
    transition: color 0.2s;
  }
  
  #cssmenu .dropdown.right0 {
    left: auto;
    left: 0;
  }
  #cssmenu .dropdown li > .dropdown.right0 {
    left: auto;
    left: 100%;
  }
  
  #cssmenu li.full-width {
    position: static;
  }
  #cssmenu li.full-width .dropdown {
    width: 100%;
    left: 0;
    box-sizing: border-box;
  }
  
  #cssmenu li:hover > .dropdown {
    display: block;
    opacity: 1;
    z-index: 1;
  }
  
  #cssmenu .dropdown li > .dropdown {
    right: 100%;
    left: auto;
    top: 0;
  }
  
  #cssmenu ul.dropdown {
    min-width: 260px; /* Sub level menu min width */
  }
  
  #cssmenu div.dropdown {
    text-align: center;
  }
  
  /* each column */
  #cssmenu .clm {
    text-align: left;
    margin: 20px;
    vertical-align: top; /*or middle*/
    width: auto;
    min-width: 240px;
    display: inline-block;
  }
  
  #cssmenu .clm a:hover {
    color: #333333;
    text-decoration: underline;
  }
  
  /*-----------Arrows----------------*/
  #cssmenu .arrow {
    color: inherit;
    border-style: solid;
    border-width: 2px 2px 0 0;
    padding: 4px;
    transform: rotate(135deg);
    margin-top: -8.5px;
    margin-left: 4px;
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    overflow: hidden;
  }
  
  #cssmenu .dropdown .arrow {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -6px;
    position: absolute;
    left: auto;
    right: 20px;
  }
  .fa-magnifying-glass li a {
    border: 1px solid #ddd;
  }
  .search {
    border: 1px solid #ddd;
    color: #ddd;
  }
  .search a:hover {
    color: white;
    font-weight: bold;
    background-color: tomato;
    outline: none;
  }
  